[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/tulioviglione/api-gateway.git
[submodule "api-conta"]
	path = api-conta
	url = https://github.com/tulioviglione/api-conta.git
[submodule "api-usuario"]
	path = api-usuario
	url = https://github.com/tulioviglione/api-usuario.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/tulioviglione/config-server.git
